In [1]:
import pandas as pd
from pandas import Series, DataFrame

df = DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500,
                 'retail_price':1000, 'sales':100},
               {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':1000},
               {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':500},
               {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,
                'retail_price':1, 'sales':200},
               {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,
                'retail_price':5, 'sales':300},
               ])


new_products = DataFrame([{'product_id':24, 'name':'phone', 'wholesale_price': 200,
                 'retail_price':500},
                        {'product_id':16, 'name':'apple', 'wholesale_price': 0.5,
                 'retail_price':1},
                        {'product_id':17, 'name':'pear', 'wholesale_price': 0.6,
                 'retail_price':1.2}], index=range(5,8))

df = pd.concat([df, new_products])
df.loc[[5,6,7], 'sales'] = [100, 200, 75]

df

   product_id            name  wholesale_price  retail_price   sales
0          23        computer            500.0        1000.0   100.0
1          96  Python Workout             35.0          75.0  1000.0
2          97  Pandas Workout             35.0          75.0   500.0
3          15          banana              0.5           1.0   200.0
4          87        sandwich              3.0           5.0   300.0
5          24           phone            200.0         500.0   100.0
6          16           apple              0.5           1.0   200.0
7          17            pear              0.6           1.2    75.0

# Beyond 1


Add one new product to the data frame, without using `pd.concat`. What's the advantage of `pd.concat`, and when should you use it?

데이터프레임에 새로운 제품 하나를 추가하되, pd.concat을 사용하지 마라.
pd.concat의 장점은 무엇이며, 언제 사용해야 하는가.

In [2]:
# If you're just adding one row to the data frame, you can assign 
# to df.loc[INDEX].  Assuming that the index doesn't already exist,
# this will add a new row to the data frame.  You can, of course,
# also use df.iloc[INDEX], using a number 1 greater than the current
# max.

# By contrast, pd.concat is for when you want to combine to 
# data frames into a single new one
df.loc[8] = [99, 'persimmon', 2, 4.5, 1]
#데이터프레임에 없는 인덱스번호를 지정해 8번째 행에 기존 데이터프레임에 있는 속성에 알맞는 값을 넣어 추가
#8번째 행, product_id=99, name='persimmon', wholesale_price=2, retail_price=4.5, sales=1

# Beyond 2

Add a new column, `department`, to the data frame. Place each product in a separate department. For example, in our data, we would have three departments: `electronics`, `books`, and `food`. Calculate `current_net` on the data frame, and then show the descriptive statisics for `current_net` for food products.


데이터프레임에 department라는 새 열을 추가하라.
각 제품을 적절한 부서에 배치. 예로 이 데이터엔 eletronics, books, food 세 개의 부서가 존재
데이터프레임에서 current_net을 계산한 다음, food 제품들의 current_net에 대한 기술 통계(describe시에 나오는 값들)를 표시하라.

In [3]:
df['department'] = ['electronics', 'books', 'books', 'food', 'food',
                   'electronics', 'food', 'food', 'food']
#각 행의 제품들의 이름을 보면 컴퓨터, 파이썬 워크아웃, 판다스 워크아웃, 바나나, 샌드위치, 폰, 사과, 배, 감으로
#각 제품들은 전자제품, 책, 책, 음식, 음식, 전자제품, 음식, 음식, 음식으로 분류됨
df

,product_id,name,wholesale_price,retail_price,sales,department
0,23,computer,500.0,1000.0,100.0,electronics
1,96,Python Workout,35.0,75.0,1000.0,books
2,97,Pandas Workout,35.0,75.0,500.0,books
3,15,banana,0.5,1.0,200.0,food
4,87,sandwich,3.0,5.0,300.0,food
5,24,phone,200.0,500.0,100.0,electronics
6,16,apple,0.5,1.0,200.0,food
7,17,pear,0.6,1.2,75.0,food
8,99,persimmon,2.0,4.5,1.0,food

In [4]:
# df['current_net'] = (df['retail_price'] - df['wholesale_price']) * df['sales'].sum() #sum()을 사용해서 구하면 
df['current_net'] = (df['retail_price'] - df['wholesale_price']) * df['sales']
#각 행의 매출이 아닌 전체 매출이 구해짐 따라서 부서별로 나눠도 전체매출에 대해 부서별 개수로 나누게 되어 
#다른 의미의 값이 나오게 됨.
#각 제품별 매출을 구하는 것이기에 각 행의 (소매가 - 도매가) * 판매량으로 구함


# Now use a mask index on current_net
df['current_net'][df['department'] == 'electronics'].describe()

count        2.000000
mean     40000.000000
std      14142.135624
min      30000.000000
25%      35000.000000
50%      40000.000000
75%      45000.000000
max      50000.000000
Name: current_net, dtype: float64

# Beyond 3

Now use the `query` method to get the descriptive statistics for food items.

이제 query 메서드를 사용해 food(식품) 항목들의 기술 통계를 구하라.

In [5]:
df.query('department == "food"')['current_net'].describe()

#query 메서드는 조건을 문자열로 입력하여 데이터프레임을 필터링하는 것
#query로 필터링 된 데이터프레임에서, current_net 열을 선택하고 describe 메서드를 호출하여 통계 요약을 생성

count      5.000000
mean     169.500000
std      244.120872
min        2.500000
25%       45.000000
50%      100.000000
75%      100.000000
max      600.000000
Name: current_net, dtype: float64